.container-fluid {
    position: relative;
    max-width: auto; /* Maximum width */
    margin: 0 auto; /* Center it */
  }
  .container-fluid .content {
    position: absolute; /* Position the background text */
    top: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(151, 8, 8); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    /* Grey text */
    width: 40%; /* Full width */
    margin: 35px;
   
 
    
    font-size: 16px;
  }


  .fa {
  padding: 20px;
  font-size: 20px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}
 
  .container img {vertical-align: middle;}
  body {
    background: #f7f7f7;
  }
  * {
    box-sizing: border-box;
  }
  .na{
    font-size: 20px;
}
  
  .form-box {
    max-width: 500px;
    margin: auto;
    padding: 50px;
    background: #ffffff;
    border: 10px solid #f2f2f2;
  }
  
  h1, p {
    text-align: center;
  }
  
  input, textarea {
    width: 100%;
  }