html,body{
	cursor: url('../images/black_GV_cursor.png'),auto;
	height: 100%;
	width: 100%;

}
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo_vert_cent{

	margin-top: 10%;

}
nav {
  text-align: center;
}

.menu {
  display: inline-block;
}

.menu > li {
  float: left;
  color: peachpuff;
  width: 140px;
  height: 40px;
  line-height: 40px;
  background: rgba(0,0,0, 0.8);
  cursor: pointer;
  font-size: 17px;
}

.sub-menu {
  transform: scale(0);
  transform-origin: top center;
  transition: all 300ms ease-in-out;
}

li a:hover, .dropdown:hover  .dropdown-item {
  background-color: rgb(238, 231, 231);
}

.main_logo{
	position: absolute;
    right: 15%;
    bottom: 35%	;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}




.item img {
  width: 100%;
  height: auto;
}


.ov {
  opacity: 1.0;
}

.ov:hover {
  opacity: 0.7;
}


/* ol.carousel-indicators li.active {
  background: yellow;
} */

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff; /* here */
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}



/*grid text logo*/

svg.intro {
  background: transparent;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

}
svg.intro .text {
  display: none;
}
svg.intro.go .text {
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  display: block;
}
svg.intro.go .text-stroke {
  fill: none;
  stroke: #ffffff;
  stroke-width: 2.8px;
  stroke-dashoffset: -900;
  stroke-dasharray: 900;
  stroke-linecap: butt;
  stroke-linejoin: round;
  -webkit-animation: dash 2.5s ease-in-out forwards;
          animation: dash 2.5s ease-in-out forwards;
}
svg.intro.go .text-stroke:nth-child(2) {
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
}
svg.intro.go .text-stroke:nth-child(3) {
  -webkit-animation-delay: .14s;
          animation-delay: .14s;
}
svg.intro.go .text-stroke-2 {
  stroke: #000000;
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}
svg.intro.go .text-stroke:nth-child(5) {
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
}
svg.intro.go .text-stroke:nth-child(6) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

@-webkit-keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}


/*.carousel-indicators-numbers li {
  text-indent: 35%;
  margin: 0 2px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 100%;
  line-height: 30px;
  color: #fff;
  background-color: #999;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}*/
.carousel-indicators-numbers li {
  text-indent: 25%;
  font-size: 12px;
  font-weight: bold;
  margin-right: 7px;
  margin-left: 7px;
  margin-bottom: 8px;
  width: 25px;
  height: 25px;
  border: 3px solid white;
  line-height: 15px;
  color: white;
  transform: rotate(45deg); 
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  background: transparent;


}
.carousel-indicators-numbers li.active, .carousel-indicators-numbers li:hover {
  font-size: 12px;
  font-weight: bold;
  margin-right: 7px;
  margin-left: 7px;
  margin-bottom: 8px;
  width: 35px;
  height: 35px;
   border: 3px solid #050404;
   color: #f3f3f3;
 
}

span.num{

    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: block;
    position: relative;
}


